[submodule "3rdparty/muparser"]
	path = 3rdparty/muparser
	url = https://iffgit.fz-juelich.de/qtisas/muparser.git
[submodule "3rdparty/qwt"]
	path = 3rdparty/qwt
	url = https://iffgit.fz-juelich.de/qtisas/qwt.git
[submodule "3rdparty/qwtplot3d"]
	path = 3rdparty/qwtplot3d
	url = https://iffgit.fz-juelich.de/qtisas/qwtplot3d.git
[submodule "3rdparty/qtexengine"]
	path = 3rdparty/qtexengine
	url = https://iffgit.fz-juelich.de/qtisas/qtexengine.git
