<?xml version="1.0" encoding="UTF-8"?>
<Installer>
    <Name>QtiSAS</Name>
    <Version>0.12.7</Version>
    <Title>QtiSAS Installer</Title>
    <Publisher>Forschungszentrum Jülich</Publisher>
    <StartMenuDir>QtiSAS</StartMenuDir>
    <TargetDir>@ApplicationsDir@/QtiSAS</TargetDir>
    <WizardStyle>Modern</WizardStyle>
</Installer>